<?xml version='1.0' encoding='utf-8'?>
<widget id="com.stmcprgm.camel" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="https://phonegap.com/ns/1.0">
	<name>PhoneGap Build App</name>
	<description>
		App still in development
	</description>

	<author email="stmc.program@gmail.com" href="https://phonegap.com">
	   STMC Programming Club
	</author>

	<preference name="phonegap-version" value="cli-6.0.0" />
</widget>